.App {
  text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
}


.App-logo {
  height: 12.5%;
  pointer-events: none;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 2.5%;
}
.Static-logo {
  height: 12.5%;
  position: absolute;
  top: 0%;
  left: 30%;
  margin: 2.5%;
}


.table-container {
  align-items: center;
  position: fixed;
  top: 25%;
  left: 15%;
  width: 50%;
  max-width: 50%;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  max-width: 100%;
  overflow-y: auto;
  margin-top: 15%;
}


th, td {
  border: 1px solid white;
  padding: 0%;
  color: white;
  font-size: 100%; /* Reducir el tamaño de fuente en pantallas pequeñas */

}

.btn {
  font-size: 5vw; /* Tamaño de fuente en relación con el ancho de la ventana gráfica */
	padding: 1% 2%;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	font-size: 100%;
  font-weight: bold;
  background-color: #61dafb;
  border: none;
  border-radius: 2%;

}
.btn:hover {
	background-color: #61dafbc1;
}

.txt-span{
  color: white;
  font-size: 120%; 

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  color: white;
}

.card {
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 100%;
  color: white;
  height: 20%;
  width: 25%;
  justify-content: space-between;
  margin: 0.05%;
  line-height: 0;
  padding: 1% 1%;
  background: rgba(255, 255, 255, 0.168);
  border-radius: 10%;
}


.card-row {
	display: flex;
	gap: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}